:root{
    --bg-color:#DDE6ED;
}


body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.container{
    text-align: center;
    background-color: var(--bg-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


h1 {
  text-align: center;
  color: #333;
}

#task-form {
  display: flex;
  margin-bottom: 20px;
}

#task-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

#task-form button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
}

#task-form button:hover {
  background-color: #45a049;
}

#task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: all 0.3s ease;
  transform: perspective(1000px) translateZ(0);
  word-wrap: break-word;
}

.task-item:hover{
    transform: perspective(1000px) translateZ(20px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.task-item.completed {
  background-color: #f9f9f9;
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: #888;
}

.task-checkbox {
  margin-right: 10px;
}

.task-text {
  flex-grow: 1;
  white-space: pre-wrap; /* Сохраняет пробелы и переносы */
  word-break: break-word; /* Переносит длинные слова */
  overflow-wrap: anywhere; /* Альтернатива для word-break */
  margin-right: 10px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

