:root{
    --bg-color:#DDE6ED;
}


body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.container{
    text-align: center;
    background-color: var(--bg-color);
    /* padding: 10px 35px 10px 15px; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


h1 {
  text-align: center;
  color: #333;
}

#task-form {
  display: flex;
  margin-bottom: 20px;
}

#task-input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

#task-form button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0.4rem #dfd9d9;
}

#task-form button:hover {
  background-color: #45a049;
}

#task-list {
  list-style-type: none;
  padding: 0px;
  
}

.task-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease;
    transform: perspective(1000px) translateZ(0);
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.task-item:hover{
    transform: perspective(1000px) translateZ(20px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.task-item.completed {
    background-color: #f9f9f9;
}

.task-item.completed .task-text {
    text-decoration: line-through;
    color: #888;
}

.task-checkbox {
  margin: 10px;
}

.task-text {
    flex-grow: 1;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
    margin-right: 10px;
}

.delete-btn {
    position: relative;
    z-index: 1;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.task-datebox{
    position: relative;
    z-index: 1;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

li {
    position: relative;
    width: 100%;
    transition: width 0.5s;
}

/* .task-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%; 
    background-color: #45a049;
    border-radius: 4px;
} */

.task-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  border-radius: 8px;
  transition: background 0.5s ease;
  background: linear-gradient(to right, #4CAF50, #FFEB3B, #F44336);
  background-size: 400% 100%;
  background-position: right;  /* Начинаем слева */
  overflow: hidden;
}



